@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>My Favorite Movies</h1>
<div class="row border-bottom border-2 pb-2">
    
    <div class="col-8">
        <h2>Avengers Infinity War</h2>
        Description 1
    </div>
    <div class="col-4">
        <img src="~/img/avengersinfinitywar.jpg" alt="Infinity War Poster" />
    </div>
</div>

<div class="row pt-2">
    <div class="col-8">
        <h2>Avenger Endgame</h2>
        <p>Description 2</p>
    </div>
    <div class="col-4">
        <img src="~/img/avengersendgame.jpg" alt="Endgame Poster" />
    </div>
</div>